{% extends 'master.html' %}
{% load static %}
{% block content %}
<div class="p-5 text-center text-white bg-light" style="background-image: url(https://image.freepik.com/free-photo/weights-exercise-weightlifter-strong-athletic_1139-709.jpg);background-repeat: no-repeat;background-size: cover;">
    <h1 class="mb-3 display-4" style="font-weight: bolder;letter-spacing: 3px;font-family: 'Ubuntu', sans-serif;color: orange;">About Us</h1>
    <h4 class="mb-3" style="font-family: 'Ubuntu', sans-serif;color: orange; letter-spacing: 3px;">CrossFit</h4>
</div>
{% endblock %}